body {
    font-family: Arial, sans-serif;
    background-image: url('https://wallpapercave.com/wp/wp1838776.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    position: relative;
    background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #0a0404d7;
    z-index: 1;
}

h2 {
    text-align: center;
    color: #fff;
}

.form-container {
    width: 300px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

select,
input[type="date"],
input[type="text"],
textarea,
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    appearance: none;
    background-color: #fff;
}

textarea {
    resize: none;
}



input[type="submit"] {
    background-color: #4e54c8;
    color: #fff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #8f94fb;
}